* {
    margin: 0;
    padding:0;
    font-family: 'Sansita Swashed', cursive;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 70.75%;
}

h1 {
    font-size: 4rem;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

figcaption {
    font-size: 1.5rem;
}

body {
    background-color:white;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #387F8F;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin-right: 1rem;
}

.nav-list a {
    display: block;
    font-size: 2rem;
    padding: 2rem;
    color: whitesmoke;
    text-decoration: none;
}

.nav-list a:hover {
    background: #6BC7DB;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(180deg, #96ECFF 0%, #6BC7DB 100%);
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    /* width: 100%; */
    background: #8F5929;
  }

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  .project-tile img {
    width: 30rem;

}
#starwars-image {
    width: 45rem;
    height: 22rem;
}

  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 100%; */
    height: 80vh;
    padding: 0 2rem;
    background: #DBA06B;
  }

  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }

  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }

  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #387F8F;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }


@media screen and (max-width: 28.75em) {
    .contact-links {
        flex-direction: column;
        align-items: center;
    }
}
