* {
    margin: 0;
    padding: 0;
/*     font-family: 'Shadows Into Light'; */
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 70.75%;
}

#coding-journey {
    font-family: 'Montserrat', 'Lucida Sans';
    margin: 5px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

figcaption {
    font-size: 1.5rem;
}

body {
    background-color:white;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #354746;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin-right: 1rem;
}

.nav-list a {
    display: block;
    font-size: 2rem;
    padding: 2rem;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Montserrat', 'Lucida Sans';
}

.nav-list a:hover {
    background: rgb(104, 104, 104);
}

h1 {
  font-family: 'Shadows Into Light', 'Arial';
  font-size: 5rem;
}

h2 {
  font-family: 'Shadows Into Light', 'Arial';
  font-size: 2rem;
  padding-bottom: 5rem;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    background: #9AB6BF;
    background-image: linear-gradient(120deg, #F3F0F2 0%, #9AB6BF 100%);
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    /* width: 100%; */
    background: #6A898C;
}

#projects {
  font-family: 'Montserrat', 'Ludica Sans';
  font-size: 3rem;
}

#projects h2 {
  font-size: larger;
}

.projects-grid {
    display: grid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

figcaption {
  font-size: 1.60rem;
}

.project-tile img {
    width: 30rem;
}

#starwars-image {
    width: 40rem;
    height: 22.75rem;
}

#pokeimage {
  height: 22.75rem;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 100%; */
    height: 80vh;
    padding: 4rem 2rem;
    background: #A59772;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.contact-details {
    font-family: 'Montserrat';
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #6A898C;
    transition: transform 0.3s ease-out;
}
  
.contact-details:hover {
    transform: translateY(8px);
}


@media screen and (max-width: 375px) {

  .nav-list a {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1rem;
  }

  #coding-journey {
    font-size: 1.5rem;
  }

  figcaption {
    font-size: 1.5rem;
  }

  .project-tile img {
    width: 25rem;
  }

  #starwars-image {
    width: 25rem;
    height: 15rem;
  }

  #pokeimage {
    height: 20rem;
  }


  .contact-details {
    font-size: 1.75rem;

  }
}
