:root {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Star Jedi';
}
.container {
    display: flex;
}

.main {
    margin-top: 8rem;
    margin-left: 8rem;
}

header, footer {
    display: flex;
    justify-content: center;
}

header {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    font-size: large;
    color: rgb(241, 238, 89);
}

li {
    list-style-type: none;
}
