* {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: rgba(255, 255, 255, 0.76);
}

.mainHeader {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

figure img {
    max-height: 14rem;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;

}

figcaption {
    display: flex;
    justify-content: center;
}