* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
    /* #2D3837; 1D3F75 0D1D36 4A5B75 98A7CB #43464C*/
    font-family: 'Ropa Sans';
    /* color:white; */
    margin: 2rem;
}

header {
    background-color: gray;
    background-image: linear-gradient(130deg, #12298b 40%, #f70808 100%);
    color: white;
    text-align: center;
    font-size: 1.4rem;
    margin-left: 16px;
    margin-right: 16px;
    padding: 20px 10px 10px 10px;

}

#buttonHeader {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#seniorityButton, #birthdayButton {
    line-height: 2rem;
    padding: 0 20px;
    text-align: center;
    font-size: 1rem;
    /* text-shadow: 1px 1px 1px rgb(26, 102, 243); */
    border-radius: 10px;
    /* add a hover effect? */
}

img {
    padding-top: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

i.fas.fa-republican {
    color:rgb(231, 26, 26);
    padding-left: 5px;
}

i.fas.fa-democrat {
    color:rgb(33, 81, 236);
    padding-left: 5px;
}

i.fas.fa-star {
    color:rgba(176, 179, 58, 0.89);
    padding-left: 5px;
}

.senatorGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;


}

/* figure out how to apply the card flip properly */

/* .scene {
    width: 200px;
    height: 260px;
    border: 1px solid #CCC;
    margin: 10px;
    perspective: 600px;
  }

  .card {
    width: 100%;
    height: 100%;
    transition: transform 1000ms;
  transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }

  .card.is-flipped {
    transform: rotateY(180deg);
  } */